.manufacturer-list {
    li {
        width: ~"calc(25% - 20px)";
        height: 150px;
        float: left;
        list-style: none;
        .unitize-padding(0, 20, 20, 0);
        .unitize-padding(40);
        img {
            margin: 0 auto;
        }
    }
}
